@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap');


:root{

    --purple-50: hsl(260, 100%, 95%);
    --purple-300: hsl(264, 82%, 80%);
    --purple-500: hsl(263, 55%, 52%);

    --white: hsl(0, 0%, 100%);
    --grey-100: hsl(214, 17%, 92%);
    --grey-200: hsl(0, 0%, 81%);
    --grey-400: hsl(224, 10%, 45%);
    --grey-500: hsl(217, 19%, 35%);
    --dark-blue: hsl(219, 29%, 14%);
    --black: hsl(0, 0%, 7%);

    --font-weight-semi-bold: 600;
    --font-weight-medium: 500;
}

*{
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}


body{
    margin: 0;
    background-color: #F6F5F6;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.grid-container{
    width:  1114px;
    height: 582px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 32px;
    margin: 50px;

}

.grid-card{
    border-radius: 8px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    padding: 32px;
}

.card-daniel-clifford{
    grid-row: 1;
    grid-column: 1 / span 2;
    background-color: var(--purple-500);
    position: relative;
}

.daniel-clifford-apostrophe-image{
    position: absolute;
    left: calc(90% - 104px);
    top: 0;
    z-index: 0;
    stroke: var(--purple-300);
    opacity: 80%;
}

.card-jonathan-walters{
    grid-row: 1;
    grid-column: 3 / 4;
    background-color: var(--grey-500)
}

.card-jeanette-harmon{
    grid-row: 2;
    grid-column: 1 / 2;
    background-color: var(--white)
}

.card-patrick-abrams{
    grid-row: 2;
    grid-column: 2 / 4;
    background-color: var(--dark-blue)
}

.card-kira-whittle{
    grid-row: 1 / 3;
    grid-column: 4 / 5;
    background-color: var(--white)
}

@media (max-width: 1000px) {
    body{
        min-height: 1300px;
    }

    .grid-container{
        width:  647px;
        height: 1157px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 32px;

    }

    .card-daniel-clifford{
        grid-row: 1;
        grid-column: 1 / span 2;
    }

    .card-jonathan-walters{
        grid-row: 2;
        grid-column: 1 / 2;
    }

    .card-jeanette-harmon{
        grid-row: 2;
        grid-column: 2 / 3;
    }

    .card-patrick-abrams{
        grid-row: 3;
        grid-column: 1/ 3;
    }

    .card-kira-whittle{
        grid-row: 4;
        grid-column: 1 / 3;
    }
    .daniel-clifford-apostrophe-image{
        left: calc(75% - 104px);
    }
}


@media (max-width: 500px) {
    body{
        min-height: 2000px;
    }

    .grid-container{
        width:  647px;
        height: 1900px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
        gap: 32px;
        margin: 20px;
    }

    .card-daniel-clifford{
        grid-row: 1/3;
        grid-column: 1;
    }

    .card-jonathan-walters{
        grid-row: 3/4;
        grid-column: 1;
    }

    .card-jeanette-harmon{
        grid-row: 4/5;
        grid-column: 1;
    }

    .card-patrick-abrams{
        grid-row: 5/7;
        grid-column: 1;
    }

    .card-kira-whittle{
        grid-row: 7/9;
        grid-column: 1;
    }

    .daniel-clifford-apostrophe-image{
        height: 0;
        width: 0;
    }

}








.person-informations{
    display: flex;
    gap: 16px;
    align-items: center;
}

.person-image{
    height: 28px;
    width: 28px;
    border-radius: 100px;
}

.person-name{
    font-weight: var(--font-weight-medium);
    line-height: 110%;
    letter-spacing: 0px;
    font-size: 13px;
}

.person-education{
    font-weight: var(--font-weight-medium);
    line-height: 110%;
    letter-spacing: 0px;
    font-size: 11px;
}


.card-short-description{
    font-weight: var(--font-weight-semi-bold);
    line-height: 120%;
    letter-spacing: 0px;
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 16px;
}


.card-long-description{
    font-weight: var(--font-weight-medium);
    line-height: 140%;
    letter-spacing: 0px;
    font-size: 13px;

}



.person-name-education-patrick-abrams{
    color: var(--white)
}

.person-name-education-daniel-clifford{
    color: var(--white);
}

.person-name-education-jonathan-walters{
    color: var(--white);
}

.person-name-education-jeanette-harmon{
    color: var(--grey-500);
}

.person-name-education-kira-whittle{
    color: var(--grey-500)
}



.card-short-description-patrick-abrams{
    color: var(--grey-200);
}

.card-short-description-daniel-clifford{
    color: var(--white);
    z-index: 10;
    position: relative;
}

.card-short-description-jonathan-walters{
    color: var(--white);
}

.card-short-description-jeanette-harmon{
    color: var(--grey-500) 
}

.card-short-description-kira-whittle{
    color: var(--grey-500);
}



.card-long-description-patrick-abrams{
    color: var(--grey-100);
}

.card-long-description-daniel-clifford{
    color: var(--purple-50)
}

.card-long-description-jonathan-walters{
    color: var(--grey-100)
}

.card-long-description-jeanette-harmon{
    color: var(--grey-400)
}

.card-long-description-kira-whittle{
    color: var(--grey-400);
}